<div style="width: 100%; text-align: right;">
    <progress data-bind="value: $root.currentBatteryCharge" max="100" style="width: 75px; height: 40px; accent-color: lawngreen; display: inline-block;"></progress>
</div>
