<div style="width: 100%; text-align: right;">
    <h4 data-bind="text: $root.currentBatteryCharge" style="transform: translate(55px, -10px); display: inline-block;"></h4>
    <progress data-bind="value: $root.currentBatteryCharge" max="100" style="width: 75px; height: 40px; accent-color: lawngreen; display: inline-block;"></progress>
</div>
