<script src="{{ url_for("static", filename="js/lib/jquery/jquery.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/lib/lodash.min.js") }}"></script>

<form class="form-horizontal">
    <p data-bind="text: ko.toJSON(settingsTriggers)"></p>
    <div>
        <button class="btn btn-primary" data-bind="click: addNewTrigger">{{ _('ADD TRIGGER') }}</button>
    </div>
    <br/>
    <ul data-bind="foreach: { data: customTriggers, as: 'trigger' }" style="background-color: lightgray; width: 100%; text-align: center; list-style: none outside;">
        <li>
            <div>
                <div style="width: 100%; text-align: left;">
                    <select class="dropdown" style="display: inline-block;" data-bind="options: $root.settingsTriggers, value: trigger.name, optionsText: 'name'"></select>
                    <button class="btn" data-bind="click: trigger.addNewEvent" style="display: inline-block;">{{ _('ADD EVENT') }}</button>
                    <button class="btn btn-primary" style="display: inline-block;" data-bind="click: function() { $root.removeTrigger(trigger.ID) }">{{ _('DELETE TRIGGER') }}</button>
                </div>
                <ul data-bind="foreach: { data: trigger.values, as: 'tValue' }" style="list-style-type: none; width: 100%; text-align: left; transform: translateX(-25px)">
                    <li style="display: inline-block;">
                        <input class="input-block-level" type="text" data-bind="value: tValue.value, attr: {placeholder: tValue.name}">
                    </li>
                </ul>
                <div class="control-group">
                    <ul data-bind="foreach: { data: trigger.events, as: 'event' }" style="list-style-type: none; background-color: darkgray">
                        <li>
                            <br/>
                            <div class="control-group">
                                <div style="width: 100%; text-align: left;">
                                    <select style="display: inline-block;" data-bind="options: $root.settingsEvents, value: event.name, optionsText: 'name'" class="dropdown"></select>
                                    <button style="display: inline-block;" class="btn btn-primary" data-bind="click: function() { trigger.removeEvent(event.ID) }">{{ _('DELETE EVENT') }}</button>
                                </div>
                                <ul data-bind="foreach: { data: event.values, as: 'eValue' }" style="list-style-type: none; width: 100%; text-align: left;">
                                    <li style="display: inline-block;">
                                        <input type="text" data-bind="value: eValue.value, attr: {placeholder: eValue.name}">
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <br/>
                </div>
            </div>
        </li>
    </ul>

    <!--
    <label class="control-label" data-bind="text: eValue.name" style="font-size: 18pt; text-transform: capitalize;"></label>

    <label class="control-label" data-bind="text: tValue.name" style="font-size: 18pt; text-transform: capitalize;"></label>

    <button class="btn btn-primary" data-bind="click: $parent.setRgbTemplate" style="bottom: 0px; position: relative; width: 50%;">{{ _('Set') }}</button>

    <select data-bind="foreach: $parent.settingsTriggers, value=trigger.name" name="Triggers" id="triggers">
                    <option data-bind="text: $data.name" ></option>
                </select>

    foreach: { data: settingsTriggers, as: 'trigger' }
    text: trigger.name
    <select data-bind="options: settingsTriggers" name="Triggers" id="triggers"></select>
    <h4>Свет включен (день-утро)</h4>
    <input type="time" id="timeOn" class="input-block-level" data-bind="value: settings.settings.plugins.brightcontrol.timeOn">
    <h4>Свет выключен (вечер)</h4>
    <input type="time" id="timeOff" class="input-block-level" data-bind="value: settings.settings.plugins.brightcontrol.timeOff">
    -->
</form>
